.titleContainer {
  width: 80%;
  text-align: center;
  padding: 26px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: azure;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  margin: 0;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin: 0;
  margin-bottom: 24px;
}

.searchWrapper {
  width: 60%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}
